
.cart-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Flexbox para dividir en dos columnas */
    gap: 20px; /* Separación entre las columnas */
    min-height: calc(100vh - 150px);
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.cart-products {
    flex: 4; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}


.cart-summary {
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 15px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}


.cart-items {
    width: 100%;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.remove-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; 
    align-self: flex-start; 
}

.remove-button:hover {
    background-color: #c9302c;
}


.cart-item-container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}


.cart-item-details {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 5px; 
}


.cart-item-details span {
    display: block;
    font-size: 14px;
    color: #555;
}


.cart-item-description {
    font-size: 12px; 
    color: #777; 
    font-style: italic; 
    margin-top: 5px; 
}


.cart-item-image {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    border-radius: 8px; 
}


.clear-cart-button {
    background-color: #5bc0de;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: center; 
}

.clear-cart-button:hover {
    background-color: #31b0d5;
}


.total-container h3 {
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    margin: 0;
}


.checkout-button,
.paypal-button-container {
    width: 100%; 
}

.checkout-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #0056b3;
}



