/* Contenedor principal del carrito */
.favorites-container {
    max-width: 800px; /* Máximo ancho para el carrito */
    margin: 0 auto; /* Centrado del contenedor */
    padding: 20px;
}

/* Listado de productos en el carrito */
.favorites-items {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.favorites-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor de cada producto */
.favorites-item-container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

/* Estilos de la imagen del producto */
.favorites-item-image {
    width: 50px; /* Tamaño reducido */
    height: 50px; /* Tamaño reducido */
    object-fit: cover;
    border-radius: 8px;
}

/* Detalles del producto */
.favorites-item-details {
    flex-grow: 1;
}

/* Botón de eliminar */
.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del botón "Limpiar carrito" */
.clear-favorites-button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}