/* Estilo principal */
.home {
    margin-top: 0;
    padding: 20px;
    overflow-x: hidden; /* Evitar desbordamientos horizontales */
}

/* Imágenes con efecto zoom */
.zoom-image {
    transition: transform 0.3s ease;
}

.zoom-image:hover {
    transform: scale(1.15);
}

p {
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.card-img-top {
    object-fit: contain;
    height: 200px;
}

.featured-carousel img {
    object-fit: contain; /* Ajusta la imagen para que no se recorte, se adapta al contenedor */
    width: 100%; 
    height: 300px; 
}


.featured-carousel .carousel-control-prev-icon,
.featured-carousel .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.featured-carousel {
    margin-top: 100px; 
    margin-bottom: 20px;
}


.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 20px 0;
}

.countdown-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countdown-time {
    font-size: 1.5em;
    font-weight: bold;
    color: #343a40;
}

.countdown-label {
    font-size: 0.9em;
    color: #6c757d;
    text-transform: uppercase;
}

/* Estilo para favoritos y carrito */
.favorite-icon,
.cart-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.favorite-icon:hover,
.cart-icon:hover {
    border-color: darkorchid;
}

.favorite-icon.active,
.cart-icon.active {
    background-color: darkorchid;
    border-color: darkorchid;
    color: white;
}

/* Prevenir márgenes en filas que puedan desbordarse */
.row {
    margin: 0;
}

    
