/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.home {
    margin-top: 80px;
    padding: 20px;
}

.zoom-image {
	transition: transform 0.3s ease; /* Hace que el cambio sea suave */
}

.zoom-image:hover {
	transform: scale(1.15); /* Aumenta la escala al 110% al pasar el cursor */
}

p {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.card-body {
    flex-grow: 1; 
}

.card-img-top {
    object-fit: contain;
    height: 200px; 
}

/* Estilo básico para las flechas */
.featured-carousel .carousel-control-prev-icon,
.featured-carousel .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.countdown-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countdown-time {
    font-size: 1.5em;
    font-weight: bold;
    color: #343a40;
}

.countdown-label {
    font-size: 0.9em;
    color: #6c757d;
    text-transform: uppercase;
}

.home {
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.row {
    margin: 0; /* Elimina los márgenes entre filas que pueden generar desbordamiento */
}


.favorite-icon {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0); /* Borde negro */
    border-radius: 50%; /* Forma circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.favorite-icon:hover {
    border-color: darkorchid; /* Cambia el borde a morado al pasar el ratón */
}

.favorite-icon i {
    color: #333; /* Color del ícono */
    font-size: 18px;
}

/* Estilo para el ícono de carrito */
   .cart-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #000000; /* Borde negro */
    border-radius: 50%; /* Forma circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-icon:hover {
    border-color: darkorchid; /* Cambia el borde a morado al pasar el ratón */
}

.cart-icon i {
    color: #333; /* Color del ícono */
    font-size: 18px;
}

.favorite-icon.active, .cart-icon.active {
    background-color: darkorchid; /* Fondo relleno */
    border-color: darkorchid; /* Borde morado */
}

.favorite-icon.active i, .cart-icon.active i {
    color: white; /* Ícono blanco */
}
