.navbar{
    height: 12vh;
    background-color:  rgb(14, 14, 14);
}

.navbar navbar-expand-lg {
  background-color:  rgb(14, 14, 14);
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.logo  {
    height: 100px;
    width: auto;
    max-width: 150px;
}

  .form-control {
    width: 500px; 
  }
  
  .nav-link:hover {
    color: #ff6347; /* Cambia el color cuando el mouse pasa sobre el icono */
  }
  
  .nav-link svg:hover {
    color: #ff6347; /* Cambia el color también para los iconos */
  }
  