
.navbar{
    height: 12vh;
    background-color:  rgb(14, 14, 14);

}

.logo {
  height: 100px;
  width: auto;
  max-width: 150px;
  margin-right: 10px; 
}

.form-control {
  width: 500px;
}


.navbar-toggler {
  background-color: #fff;
}

.btn-outline-light {
  border-color: white;
  color: white;
}

.cart-count {
  margin-left: 5px;
}

.navbar-nav .nav-item {
  margin-right: 15px; 
}

.navbar-brand {
  margin-left: 15px; 
}

  .form-control {
    width: 500px; 
  }
  
  .nav-link:hover {
    color: #ff6347; /* Cambia el color cuando el mouse pasa sobre el icono */
  }
  
  .nav-link svg:hover {
    color: #ff6347; /* Cambia el color también para los iconos */
  }
  

